<!DOCTYPE html>
<html>
  <head>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" type="text/scss" href="scss/master.scss">
    <title>Filmster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<%= render "layouts/navbar" %>
  	<%= render 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
